.GridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(219, 217, 217);
    color: white;
    transition: background-color 0.25s;

}

.OcupiedGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgb(30, 30, 30);
    transition: background-color 0.1s;

}

.StartGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: green;
    transition: background-color 0.25s;

}

.FinishGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgb(165, 0, 0);
    transition: background-color 0.25s;

}

.PathGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: purple;
    transition: background-color 0.25s;

}

.QueueGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: grey;
    transition: background-color 0.05s;

}

.SearchedGridCell{
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: inline-block;
    background-color: yellow;
    transition: background-color 0.05s;

}

#StartNodeBuilder{
    background-color: green;
}

#EndNodeBuilder{
    background-color: rgb(165, 0, 0);
}

#WallNodeBuilder{
    background-color: rgb(30, 30, 30);
}

#StartPathfinding{
    background-color: rgb(65, 155, 5);
}

#ResetGrid{
    background-color: rgb(177, 43, 10);
}

#EndNodeBuilder:hover{
    background-color: rgb(255, 0, 0);
}

#StartNodeBuilder:hover{
    background-color: rgb(9, 231, 9);
}

#WallNodeBuilder:hover{
    background-color: rgb(55, 55, 55);
}

#StartPathfinding:hover{
    background-color: rgb(108, 255, 11);
}

#ResetGrid:hover{
    background-color: rgb(255, 83, 40);
}


.BuilderButtons{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: inline-block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.25s;
}




#buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 250px;
}

#container {
    display: grid;
    grid-template-columns: repeat(40, 25px);
    grid-template-rows: repeat(16, 25px);
    margin: 50px;
}


body {
    background-color: hsl(0, 0%, 15%);
}

